body {
	font-family: Lato;
	color: #222;
	margin: 0;
}

nav {
	max-width: 1000px;
	margin: 0 auto;
}

#content-container {
	max-width: 900px;
	margin: 0 auto
}

#featured-img {
	display: block;
	width: 600px;
	margin: 0 auto;
}

.menu::after { /* Clearfix */
	clear: both;
}

menu {
	float: right;
}

.menu-item {
	float: left;
}

.menu.sub-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Your code here */
