/* You may use the following selectors, but it's not required. */

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-image: url('../img/lesliefish.png');
	background-size: 1500px;
	opacity: 0%;


}

#container {
    width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
}

#thumbnail {

}

#thumbnail img {
	width: 300px;
}

#header {
	font-family: 'Raleway', sans-serif;
	padding: 12px 0px 0px; 
	font-size: 40px;
	letter-spacing: 1px;

}

#subheader {
	font-style: italic;
	font-size: 17px;
	padding: 6px 0px;
}

#description {
	padding: 6px;
	width: 600px;
	margin: 0 auto;
	line-height: 24px;
}

a {
	text-decoration: none;
	margin: 0px auto;
	display: block;
	width: 200px;

}

#link {
	width: 200px auto;
	margin: 16px auto;
	font-size: 17px;
	background-color: #856e5b;
	font-family: 'Roboto', sans-serif;
	padding: 12px 24px; 
	color: white;

}

.list-container {
	width: 40%;
	margin: 25px auto;
	background-color: #F5F5F5;
	padding: 12px;
	opacity: 50%;
}

.list-title {
	font-size: 32px;
	padding: 6px;

}

.list-content {

}

.list-item {
	padding: 12px;
	margin: 10px 75px;
	background-color: white;
	color: black;
	font-weight: bold;
}